<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans.xsd">
<!-- 의존성 주입(Dependency Injection) -->
<!-- single type, getBean()을 호출하기 전에는 객체가 생성되지 않습니다. -->
		
	<!-- <bean id="tb3" class="kr.co.ezen.beans.TestBean3" scope="prototype" 
			init-method="testBean_init" destroy-method="testBean_destroy"/>-->
	
	<!-- getBean()이라는 메소드를 호출할 때!!!!!!! 객체가 생성된다  = 싱글톤-->
	<!-- 고정 불변의 데이터를 처리하는 경우에 사용합니다.-->
		<!--<bean id="tb1" class="kr.co.ezen.beans.TestBean">
			<property name="data1" value="500"/> setData1(500)이랑 같은 말이다
			<property name="data2" value="500.123"/> setData2(500.123)이랑 같은 말이다
			<property name="data3" value="kang"/> setData4(kang)이랑 같은 말이다
		</bean> -->
	
	<!-- 생성자 -->
	<bean id="tb1" class="kr.co.ezen.beans.TestBean" lazy-init="true">
		<constructor-arg  value="123"     type="int"    index="0" ></constructor-arg>
		<constructor-arg  value="123.123" type="double" index="1"></constructor-arg>
		<constructor-arg  value="hello"   type="String" index="2"></constructor-arg>
	</bean>
			
									
</beans>